$textColor: #fc1068;
$secondaryTextColor: #000;
$corDoBotao: #fcab10;

$cor1: #38291f;
$cor2: #000;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;

    list-style: none;

    @media (max-width: 640px) {
        margin: 0 10px;

    }
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}


.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        content: '';
        opacity: .3;
    }

    &__title {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
        color: #fff;
    }


    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
        color: $textColor;
    }

    &__logo {
        margin: 0 auto;
        height: 160px;
        display: block;
        border-radius: 110px;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}



.event {
    padding: 80px 0;
    color: #fff;
    
    &--aniver {
        background-image: linear-gradient($cor1, $cor2);
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 400px;
    }

    &__details {

        &__title {
            font-size: 22px;
            margin-bottom: 16px;
        }

        &__description {
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
            margin-right: 160px;
            margin-left: 8px;
        }

        &__image {
            width: 100%;
        }

        &__detalis {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color: #000;
        background-color: $corDoBotao;
        cursor: pointer;

        &:hover {
            background-color: #0ce3e8;
        }
    }

    @media (max-width: 640px) {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 24px;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}


.infos-bar {
    padding: 16px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: #000;

            b {
                font-size: 18px;
                display: block;
                color: #000;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;
        }

        &__item {
            margin-bottom: 24px;
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}


.footer {
    color: $textColor;
    background-color: #000;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}